<!DOCTYPE HTML>
<html lang="fr">
<head>
    <title>Braizerecord | Maintenance</title>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="author" content="Jérémie Legrand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="/images/Logo-fav.png"/>
    <!-- STYLE  BOOTSRAP , CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <!-- FONTAWESOME -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
</head>
<body id="cover">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center text-white mt-5 pt-5">
                <img src="/images/Logo.png" height="75px" width="200px" class="mb-3">
                <h1>Notre site est actuellement en maintenance</h1>
                <p class="mt-4">Veuillez nous excuser pour la géne  occasionner  retrouvez nous rapidement
                Pour toute question ou demande n'hésité pas a nous contacter nous restons entierement  à  votre disponibilité.</p>
                <a href="mailto:contact@braizerecords.fr" target="_blank"><button class="btn btn-outline-light  btn-lg mt-3">Nous contacter</button></a>
            </div>
        </div>
    </div>
<footer>
    <div class="fixed-bottom text-center">
        <ul class="list-inline text-white">
            <a href="https://www.facebook.com/braizerecords/" target="_blank"><li class="list-inline-item px-3"><i class="fab fa-facebook fa-2x"></i></li></a>
            <a href="https://twitter.com/BraizeRecords" target="_blank"><li class="list-inline-item px-3"><i class="fab fa-twitter fa-2x"></i></li></a>
            <a href="#" target="_blank"><li class="list-inline-item px-3"><i class="fab fa-instagram fa-2x"></i></li></a>
            <a href="https://www.youtube.com/channel/UCbhi8-Vn5PD17SbI4-Bt1vQ" target="_blank"><li class="list-inline-item px-3"><i class="fab fa-youtube fa-2x"></i></li></a>
        </ul>
    </div>
</footer>
</body>
</html>